 <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="h5">Basic</div>
                    <div class="multi-step">
                        <ul class="multi-step-list">
                            <li class="multi-step-item current">
                                <div class="item-wrap">
                                    <p class="item-title">Step One</p>
                                </div>
                            </li>
                            <li class="multi-step-item">
                                <div class="item-wrap">
                                    <p class="item-title">Step Two</p>
                                </div>
                            </li>
                            <li class="multi-step-item">
                                <div class="item-wrap">
                                    <p class="item-title">Step Three</p>
                                </div>
                            </li>
                            <li class="multi-step-item">
                                <div class="item-wrap">
                                    <p class="item-title">Step Three</p>
                                </div>
                            </li>
                            <li class="multi-step-item">
                                <div class="item-wrap">
                                    <p class="item-title">Step Three</p>
                                </div>
                            </li>
                            <li class="multi-step-item">
                                <div class="item-wrap">
                                    <p class="item-title">Step Three</p>
                                </div>
                            </li>
                            <li class="multi-step-item">
                                <div class="item-wrap">
                                    <p class="item-title">Step Three</p>
                                </div>
                            </li>
                            <li class="multi-step-item">
                                <div class="item-wrap">
                                    <p class="item-title">Step Three</p>
                                </div>
                            </li>
                            <li class="multi-step-item">
                                <div class="item-wrap">
                                    <p class="item-title">Step Three</p>
                                </div>
                            </li>
                            <li class="multi-step-item">
                                <div class="item-wrap">
                                    <p class="item-title">Step Three</p>
                                </div>
                            </li>
                            <li class="multi-step-item">
                                <div class="item-wrap">
                                    <p class="item-title">Step Three</p>
                                </div>
                            </li>
                            <li class="multi-step-item">
                                <div class="item-wrap">
                                    <p class="item-title">Step Four</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="h5">Clickable</div>
                    <div class="multi-step">
                        <ul class="multi-step-list">
                            <li class="multi-step-item active current">
                                <div class="item-wrap">
                                    <p class="item-title">Step One</p>
                                </div>
                            </li>
                            <li class="multi-step-item active">
                                <div class="item-wrap">
                                    <p class="item-title">Step Two</p>
                                </div>
                            </li>
                            <li class="multi-step-item active">
                                <div class="item-wrap">
                                    <p class="item-title">Step Three</p>
                                </div>
                            </li>
                            <li class="multi-step-item active">
                                <div class="item-wrap">
                                    <p class="item-title">Step Four</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="h5">Numbered - <code>.numbered</code></div>
                    <div class="multi-step numbered">
                        <ul class="multi-step-list">
                            <li class="multi-step-item active current">
                                <div class="item-wrap">
                                    <p class="item-title">Step One</p>
                                </div>
                            </li>
                            <li class="multi-step-item active">
                                <div class="item-wrap">
                                    <p class="item-title">Step Two</p>
                                </div>
                            </li>
                            <li class="multi-step-item active">
                                <div class="item-wrap">
                                    <p class="item-title">Step Three</p>
                                </div>
                            </li>
                            <li class="multi-step-item active">
                                <div class="item-wrap">
                                    <p class="item-title">Step Four</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="h5">Checked - <code>.checked</code></div>
                    <div class="multi-step checked">
                        <ul class="multi-step-list">
                            <li class="multi-step-item active completed">
                                <div class="item-wrap">
                                    <p class="item-title">Step One</p>
                                </div>
                            </li>
                            <li class="multi-step-item active completed">
                                <div class="item-wrap">
                                    <p class="item-title">Step Two</p>
                                </div>
                            </li>
                            <li class="multi-step-item active completed">
                                <div class="item-wrap">
                                    <p class="item-title">Step Three</p>
                                </div>
                            </li>
                            <li class="multi-step-item active current">
                                <div class="item-wrap">
                                    <p class="item-title">Step Four</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="h5">Validation</div>
                    <div class="multi-step">
                        <ul class="multi-step-list">
                            <li class="multi-step-item active current">
                                <div class="item-wrap">
                                    <p class="item-title">Step One</p>
                                </div>
                            </li>
                            <li class="multi-step-item active error">
                                <div class="item-wrap">
                                    <p class="item-title">Step Two</p>
                                </div>
                            </li>
                            <li class="multi-step-item active error">
                                <div class="item-wrap">
                                    <p class="item-title">Step Three</p>
                                </div>
                            </li>
                            <li class="multi-step-item active error">
                                <div class="item-wrap">
                                    <p class="item-title">Step Four</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="h5">Subtitle</div>
                    <div class="multi-step">
                        <ul class="multi-step-list">
                            <li class="multi-step-item active current">
                                <div class="item-wrap">
                                    <p class="item-title">Step One</p>
                                    <p class="item-subtitle">Information about this step.</p>
                                </div>
                            </li>
                            <li class="multi-step-item active">
                                <div class="item-wrap">
                                    <p class="item-title">Step Two</p>
                                    <p class="item-subtitle">Information about this step.</p>
                                </div>
                            </li>
                            <li class="multi-step-item active">
                                <div class="item-wrap">
                                    <p class="item-title">Step Three</p>
                                    <p class="item-subtitle">Information about this step.</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="h5">Badges</div>
                    <div class="multi-step">
                        <ul class="multi-step-list">
                            <li class="multi-step-item active current">
                                <div class="item-wrap">
                                    <p class="item-title">Step One</p>
                                    <p class="badge">10</p>
                                </div>
                            </li>
                            <li class="multi-step-item active">
                                <div class="item-wrap">
                                    <p class="item-title">Step Two</p>
                                </div>
                            </li>
                            <li class="multi-step-item active error">
                                <div class="item-wrap">
                                    <p class="item-title">Step Three</p>
                                    <p class="badge">2</p>
                                </div>
                            </li>
                            <li class="multi-step-item active error">
                                <div class="item-wrap">
                                    <p class="item-title">Step Four</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="h5">Loading Step</div>
                    <div class="multi-step">
                        <ul class="multi-step-list">
                            <li class="multi-step-item active current multi-step-loading">
                                <div class="item-wrap">
                                    <div class="busy-css"></div>
                                    <p class="item-title">Step One</p>
                                </div>
                            </li>
                            <li class="multi-step-item active multi-step-loading">
                                <div class="item-wrap">
                                    <div class="busy-css"></div>
                                    <p class="item-title">Step Two</p>
                                </div>
                            </li>
                            <li class="multi-step-item active error multi-step-loading">
                                <div class="item-wrap">
                                    <div class="busy-css"></div>
                                    <p class="item-title">Step Three</p>
                                </div>
                            </li>
                            <li class="multi-step-item active error multi-step-loading">
                                <div class="item-wrap">
                                    <div class="busy-css"></div>
                                    <p class="item-title">Step Four</p>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
